@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoGame.Models.ViewModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ReviewPageViewModel>
@{
	Layout = "root.cshmtl";
}

<h1>dasdasd</h1>